<!DOCTYPE html>
<html ng-app="footballstats">
<head>
    <title>Football Stats</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</head>

<body>

<div class="fluid-container" ng-controller="PlayerController as ctrl">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#2fab8f;">
            <a class="navbar-brand" href="http://localhost:8080/web_war_exploded/index.html">Football Stats</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="http://localhost:8080/web_war_exploded/index.html">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="http://localhost:8080/web_war_exploded/web/clubs.html">Clubs</a>
                    <a class="nav-item nav-link" href="http://localhost:8080/web_war_exploded/web/players.html">Players</a>
                    <a class="nav-item nav-link" href="http://localhost:8080/web_war_exploded/web/coachs.html">Coachs</a>
                    <a class="nav-item nav-link" href="http://localhost:8080/web_war_exploded/web/presidents.html">Presidents</a>
                </div>
            </div>
        </nav>
    </header>

    <br>
    <div class="d-flex justify-content-center">
        <h1>
            Add a player to the database
        </h1>
    </div>
    <br>
    <form>
        <div class="row justify-content-md-center">
            <div class="col-auto">
                <input type="text" class="form-control" placeholder="First name" ng-model="firstname">
            </div>
            <div class="col-auto">
                <input type="text" class="form-control" placeholder="Last name" ng-model="lastname">
            </div>
        </div>
        <br>
        <div class="row justify-content-md-center">
            <div class="col-auto">
                <input type="number" min="0" max="100" class="form-control" placeholder="Pace (0 to 100)" ng-model="pace">
            </div>
            <div class="col-auto">
                <input type="number" min="0" max="100" class="form-control" placeholder="Shooting (0 to 100)" ng-model="shooting">
            </div>
        </div>
        <br>
        <div class="row justify-content-md-center">
            <div class="col-auto">
                <input type="number" min="0" max="100" class="form-control" placeholder="Passing (0 to 100)" ng-model="passing">
            </div>
            <div class="col-auto">
                <input type="number" min="0" max="100" class="form-control" placeholder="Dribbling (0 to 100)" ng-model="dribbling">
            </div>
        </div>
        <br>
        <div class="row justify-content-md-center">
            <div class="col-auto">
                <input type="number" min="0" max="100" class="form-control" placeholder="Defending (0 to 100)" ng-model="defending">
            </div>
            <div class="col-auto">
                <input type="number" min="0" max="100" class="form-control" placeholder="Physical (0 to 100)" ng-model="physical">
            </div>
        </div>
        <br>
        <div class="row justify-content-md-center">
            <div class="col-auto">
                <input type="number" min="0" max="210" class="form-control" placeholder="Height (in cm)" ng-model="height">
            </div>
            <div class="col-auto">
                <input type="number" min="0" max="120" class="form-control" placeholder="Weight (in kg)" ng-model="weight">
            </div>
        </div>
        <br>
        <div class="row justify-content-md-center">
            <div class="col-auto">
                <input type="text" class="form-control" placeholder="Position" ng-model="position">
            </div>
            <div class="col-auto">
                <input type="number" min="0" max="100" class="form-control" placeholder="Number" ng-model="number">
            </div>
        </div>
        <br>
        <div class="row justify-content-md-center">
            <div class="col-auto">
                <input type="text" class="form-control" placeholder="Birthday" ng-model="birthday" onfocus="(this.type='date')" onblur="(this.type='text')" id="date">
            </div>
        </div>
        <br>
        <div class="row justify-content-md-center">
            <div class="col-auto">
                <input type="text" class="form-control" placeholder="Country" ng-model="country">
            </div>
        </div>
        <br>
        <div class="row justify-content-md-center">
            <a class="btn btn-primary float-center" href="#" role="button" data-toggle="modal" data-target="#exampleModal" ng-click="ctrl.addPlayer(firstname, lastname, pace, shooting, passing, dribbling, defending, physical, height, weight, position, number, birthday, country)">Add</a>
        </div>
    </form>
</div>

<script>
    angular.module("footballstats", []).controller("PlayerController", function ($http) {
        var that = this;
        $http({
            method: 'GET',
            url: 'http://localhost:8080/web_war_exploded/api/players/'
        }).then(function successCallback(response) {
            that.players = response.data;
        });

        var refreshSelected = function (playerId) {
            this.selected = {};
            $http({
                method: 'GET',
                url: 'http://localhost:8080/web_war_exploded/api/players/' + playerId
            }).then(function successCallback(response) {
                that.selected = response.data;
            });

        };
        this.loadModal = function (playerId) {
            refreshSelected(playerId);
        }

        this.addPlayer = function(firstname, lastname, pace, shooting, passing, dribbling, defending, physical, height, weight, position, number, birthday, country) {
            var player = {
                "firstname":firstname,
                "lastname":lastname,
                "pace":pace,
                "shooting":shooting,
                "passing":passing,
                "dribbling":dribbling,
                "defending":defending,
                "physical":physical,
                "height":height,
                "weight":weight,
                "position":position,
                "number":number,
                "birthday":birthday,
                "country":country
            }
            $http({
                method: 'POST',
                url: 'http://localhost:8080/web_war_exploded/api/players',
                data: player,
            }).then(function successCallback(response) {
                refreshSelected(that.selected.id);
            });
            document.location.reload();
        }
    });
</script>
</body>
</html>