</head>
<body>
<div class="splashscreen d-flex align-items-center justify-content-center ng-cloak">
    <h1>FootballStats<br/>
        <small class="text-secondary">loading...</small>
    </h1>
</div>
<div class="fluid-container" ng-controller="PlayerController as ctrl">
    <header>
        <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
            <a class="navbar-brand" href="#">FootballStats</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </header>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{ctrl.selected.lastname}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body ">
                    <div class="d-flex d-flex justify-content-center">
                        <div class="card text-center " style="width: 20rem; margin-bottom:20px">
                            <div class="card-body">
                                <p class="card-text text-secondary"><span class="badge badge-secondary">{{ctrl.selected.coach}}</span> - {{ctrl.selected.club}}</p>
                            </div>
                        </div>
                    </div>

                    <hr>
                    <div class="text-left">
                        <p> Stats </p>
                        <fieldset class="rating">
                            <input type="radio" id="star5" name="rating" value="5"/><label class="full" for="star5" ng-click="ctrl.addReview(5)" title="Awesome - 5 stars"></label>
                            <input type="radio" id="star4" name="rating" value="4"/><label class="full" for="star4" ng-click="ctrl.addReview(4)" title="Pretty good - 4 stars"></label>
                            <input type="radio" id="star3" name="rating" value="3"/><label class="full" for="star3" ng-click="ctrl.addReview(3)" title="Meh - 3 stars"></label>
                            <input type="radio" id="star2" name="rating" value="2"/><label class="full" for="star2" ng-click="ctrl.addReview(2)" title="Kinda bad - 2 stars"></label>
                            <input type="radio" id="star1" name="rating" value="1"/><label class="full" for="star1" ng-click="ctrl.addReview(1)" title="Sucks big time - 1 star"></label>
                        </fieldset>
                    </div>
                    <ul class="list-group clearfix">
                        <li ng-repeat="review in ctrl.selected.reviews | orderBy:'-dateOfReview' " class="list-group-item">
                            <span class="badge badge-success">{{review.score}}</span><small class="text-muted">   {{review.dateOfReview | date:'yyyy-MM-dd HH:mm:ss'}}</small>
                            <button type="button" class="close" ng-click="ctrl.deleteReview(review.id)">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <ul class="list-group">
        <li ng-repeat="(id,lastname) in ctrl.players " class="list-group-item">
            {{lastname}}
            <a class="btn btn-primary float-right" href="#" role="button" data-toggle="modal" data-target="#exampleModal" ng-click="ctrl.loadModal(id)">getDetails</a>
        </li>
    </ul>


</div>

<script>
    angular.module("footballstats", []).controller("PlayerController", function ($http) {
        var that = this;
        $http({
            method: 'GET',
            url: 'http://localhost:8080/footballstats/api/players/'
        }).then(function successCallback(response) {
            that.players = response.data;
        });

        var refreshSelected = function (playerId) {
            this.selected = {};
            $http({
                method: 'GET',
                url: 'http://localhost:8080/footballstats/api/players/' + playerId
            }).then(function successCallback(response) {
                that.selected = response.data;
            });

        };
        this.loadModal = function (playerId) {
            refreshSelected(playerId);
        }

        this.addReview = function (score) {
            var review = {"score": score, "book": {"id": this.selected.id}, "dateOfReview": new Date()};
            $http({
                method: 'POST',
                url: 'http://localhost:8080/lab06/api/reviews',
                data: review
            }).then(function successCallback(response) {
                refreshSelected(that.selected.id);
            });
        }

        this.deleteReview = function (reviewId) {
            $http({
                method: 'DELETE',
                url: 'http://localhost:8080/lab06/api/reviews/' + reviewId,
            }).then(function successCallback(response) {
                refreshSelected(that.selected.id);
            });
        }
    });
</script>
</body>
</html>